body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-decoration: wavy;
    color:rgb(51, 87, 92) ;
    background-image: url(https://wallpaperaccess.com/full/1155041.jpg);
}
