body {
    text-align: center;
    text-decoration:underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    
    border-radius: 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    color:rgb(79, 47, 88) ;
    background-color: rgb(35, 142, 137);
}

table{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    border: 3px solid rgb(56, 103, 231);
}

td {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid rgb(44, 78, 172);
}

a{
    border-color: rgb(56, 103, 231);
    border-radius: 10px;
    border-style:outset;

    background-color:rgb(144, 199, 216);
    color:rgb(79, 47, 88);
    
    margin: 50px;
    padding: 10px;
}
