body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-decoration:none;
    
    border-radius: 10px;
    padding: 10px;
    margin: 50px;

    color:rgb(73, 10, 1) ;
    background-color: rgb(123, 126, 172);
}

a{
    background-color:rgb(226, 178, 155);
    color:rgb(73, 10, 1);
    border-style:outset;
    border-color: rgb(73, 10, 1);
    
    border-radius: 10px;
    padding: 10px;
    margin: 50px;

}